body{
    background-color: #8C85B9
}

.login-box{
    width: 1300px;
    height: 500px;
    margin-top: 90px;
    margin-left: 100px;
    background-color: white;
    border-radius: 50px;
}

h2{
    text-align: center;
    padding-top: 50px;
}
form{
    text-align: center;
}