@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --cool-gray: #8A83B6ff;
    --blood-red: #680202ff;
    --rebecca-purple: #5F3793ff;
    --caramel: #BF8344ff;
    --antique-white: #FAEBD7ff;
    --eggplant: #6F3D54ff;
}

body{
    background: var(--cool-gray);
    font-family: 'Quicksand', sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 30px;
}

header{
    grid-column: span 3;
    background: #680202;
}

footer{
    background-color: var(--blood-red);
    color: white;
    text-align: center;
    min-height: 80px;
}

.icons-header {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer p {
    padding: 50px;
}

nav{
    padding: 50px;
}

.left-menu{
    background-color: antiquewhite;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

nav a{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
    font-weight: 600;
}

nav p{
    display: flex;
    font-size: larger;
    justify-content: center;
    font-weight: 800;
    padding-bottom: 10px;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul:hover{
    background: #680202;
    border-radius: 10px;
    transition: opacity .5s;
}

nav ul a:hover{
    color: #ffffff;
    transition: opacity .5s;
}